@import './src/styles';

@include xl;
@include large;
@include medium;
@include small;

.beige {
  height: 100%;
  width: 40%;
  background-color: #e7dacf;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
}

.container {
  height: 800px;
}
.content-div-center {
  @include content-div-center;
  background-color: #f5ece7;
  height: 500px;
}
 .name {
   margin-top: 50px;
 }

.content-div-start-left {
  @include content-div-start-left;
  background-color: transparent;
  height: 500px;
  padding-left: 40px;
}
.mail {
  color: black;
  font-weight: 300;
}
.mail:hover {
  color: blue;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.blue-stripe {
  @include blue-stripe;
}

.buttons {
  @include content-row;
}

.content-about-card {
  @include box-shadow;
}

@media(max-width: 640px ) {
  .container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .beige {
    width: 100%;
    background-color: #e7dacf;
  }
  .content-div-start-left {
    padding: 0 5px;
    margin-top: 40px;
  }
  .content-about-card {
    height: 400px;
    margin-top: 40px;
  }
  .photo {
    height: 150px;
    width: 150px;
    border-radius: 100px;
  }
}

