@import './src/styles';


@include small;
@include medium;
@include large;
@include xl;

.active {
  text-decoration: underline;

}

.container {
  align-items: flex-start;
}

.button-and-name {
  width: 70%;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.name-and-title {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.name {
  @include title;
}
.name h2 {
  padding-right: 15px;
}

.blue-box {
  @include blue-box;
}

p {
  margin: 0;
}

.sidenav-container {
  flex: 1;
  .sidenav {
    min-width: 300px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
      font-size: 30px;
    }
  }
  main {
    padding: 0;
  }

}

.menu-button {
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
}

@media (max-width: 630px ) {
  .name {
    font-size: 12px;
  }
  .button-and-name {
    width:100%;
    justify-content: space-evenly;
  }
  .name-and-title {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}




